@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

/************** GLOSSAIRE:
line - VARIABLE CSS 
line - GENERAL APP
line - HEADER + INSTRUCTION
line - FORMULAR
line - INPUT RANGE
line - BUTTON
line - PRINT PUZZLE
**************/

/************** VARIABLE CSS 
////////////////////////////
**************/
:root{
    --main-bg-color: white;
    --secondary-bg-color: rgba(96, 123, 140, 1);
    --main-color: rgba(38, 38, 38, 1);
    --secondary-color: rgba(181, 225, 242, 1);
    --tiercary-color: rgba(165, 54, 54, 1);
    --main-font-family : Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    --main-font-size: 18px;
    --secondary-font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --print-font-familly: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

@media screen and (max-width: 750px) {
    :root{
        --main-font-size: 16px;
    }
    h3{
        font-size: calc(var(--main-font-size)*1.3);
    }
}

@media screen and (max-width: 400px) {
    :root{
        --main-font-size: 14px;
    }
    h3{
        font-size: calc(var(--main-font-size)*1.3);
    }
}


/************** GENERAL APP 
///////////////////////////
**************/
.App{
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    color: var(--main-color);
}

/************** HEADER + INSTRUCTION 
////////////////////////////////////
**************/
header{
    display: block;
    width: 82%;
    margin: auto;
    padding: 1% 0%;
    background-color: var(--main-bg-color);
}

header img{
    display: block;
    width: 30%;
    margin-left: 5%;   
}

header button{
    border: solid 0px;
    background-color: var(--main-bg-color);
    width: 8%;
    margin-right: 5%;
}

header button:hover, header button:focus{
    border: solid 2px var(--secondary-color);
    border-radius: 10px;
}

header button:active{
    border: solid 4px var(--secondary-bg-color);
}

header button svg{
    width: fit-content;
    color: var(--secondary-bg-color);
}



.headerContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.HeaderLine{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 10px;
    width: 97%;
    background-color: var(--main-color);
}

.Instruction{
    display: none;
    position: fixed;
    font-family: var(--main-font-family);
    margin: auto;
    width: 70%;
    padding: 5px 10px;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: var(--main-font-size);
    text-align: justify;
    align-content: center;
    z-index: 2;
}

.Instruction h4{
    font-size: large;
    text-decoration: underline;
}

.Instruction button{
    color: var(--tiercary-color);
    background-color: var(--main-bg-color);
    font-size: 20px;
    font-weight: bold;
    float: right;
    width: 30px;
    height: 30px;
    margin: 10px;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .Instruction button{
        font-size: 15px;
        width: 20px;
        height: 20px;
        margin: 7px;
    }

    header button{
        width: 13%;
    }

    .HeaderLine{
        height: 5px;
    }
}

/************** FORMULAR 
////////////////////////
**************/
h2, h3 {
    font-family: var(--secondary-font-family);
    color: var(--main-color);
}

.Formular{
    background-color: var(--main-bg-color);
    width: 70%;
    margin: auto;
    padding: 1% 6%;
}

form input{
    width: 100%;
    height: 30px;
    margin: auto;
    font-size: 18px;
}

.inputWords input{
    width: 17%;
}

.CheckScreenSize{
    display: block;
}

@media screen and (max-width: 750px) {
    .CheckScreenSize{
        display: none;
    }

    .inputWords input{
        width: 30%;
    }
}

/************** INPUT RANGE 
///////////////////////////
**************/

:root{
    --heigth-track: 8px;
    --heigth-thumb: 16px;
    --range-width: 70%;
}

/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     margin: 0 15%;
     position: relative;
     cursor: e-resize;
     width: var(--range-width);
     opacity: 0.7;
     transition: 0.2s ease-in;
 }
 
 /* Removes default focus */
 input[type="range"]:focus, input[type="range"]:hover {
   outline: none;
   opacity: 1;
 }

 
 
 /***** Chrome, Safari, Opera and Edge Chromium styles *****/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--secondary-color);
    border-radius: var(--heigth-track);
    height: var(--heigth-track);  
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: calc(var(--heigth-track)/2 - var(--heigth-thumb)/2); /* Centers thumb on the track */
 
    /*custom styles*/
    background-color: var(--secondary-bg-color);
    height: var(--heigth-thumb);
    width: var(--heigth-thumb);
    /*box-shadow: calc(0px - var(--range-width)) 0 0 calc(0px + var(--range-width)) var(--secondary-bg-color);*/
 }

 
 input[type="range"]:focus::-webkit-slider-thumb {   
   border: 1px solid var(--main-color);
   outline: 3px solid var(--main-color);
   outline-offset: 0.125rem; 
 }
 
 /******** Firefox styles ********/
 /* slider track */
 input[type="range"]::-moz-range-track {
    background-color: var(--secondary-bg-color);
    border-radius: var(--heigth-track);
    height: var(--heigth-track);  
 }
 
 /* slider thumb */
 input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
 
    /*custom styles*/
    background-color: var(--secondary-color);
    height: var(--heigth-thumb);
    width: var(--heigth-thumb);
 }
 
 input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid var(--main-color);
    outline: 3px solid var(--main-color);
    outline-offset: 0.125rem; 
 }


  /* Display custom datalist */
 datalist {
    width: 100%;
    margin: auto 15%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

datalist option {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
}

/************** BUTTON 
//////////////////////
**************/

.Button{
    display: block;
    width: 30%;
    margin: auto;
    height: 50px;
    font-size: var(--main-font-size);
    font-weight: bold;
    font-family: var(--secondary-font-family);
    color: var(--tiercary-color);
    background-color:var(--main-bg-color);
    border: solid 2px  var(--tiercary-color);
    border-radius: 5px;
    cursor: pointer;
}

.Button:hover, .Button:focus{
    border: solid 3px var(--secondary-bg-color);
}

.Button:active{
    border: solid 5px var(--tiercary-color);
}

/************** PRINT PUZZLE 
////////////////////////////
**************/

.PrintSearchWord{
    background-color: var(--main-bg-color);
    display: block;
    width: 82%;
    margin: auto;
    margin-bottom: 50px;
    min-height: 400px;
    font-family: var(--print-font-familly);
    text-align: center;
}

.Puzzle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
}

.Puzzle h1{
    font-weight: 300;
    font-size: 50px;
}

.EmptyBoxPuzzle{
    min-height: 119px;
}

.Puzzle li{
    justify-content: flex-start;
    list-style: none;
    font-size: 16px;
    margin-bottom: 10px;
    height: fit-content;
}


table{
    border-collapse: collapse;
}

.Puzzle td{
    width: 30px;
    height: 30px;
    border: 1px solid gray;
}

@media screen and (max-width: 750px) {
    .PrintSearchWord{
        zoom: 50%
    }
}