@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

.App{
    background-color: rgba(140, 73, 58, 1);
}

header{
    display: block;
    width: 82%;
    margin: auto;
    padding: 1% 0%;
    background-color: white;
}

header img{
    display: block;
    width: 30%;
    margin-left: 5%;
    
}

.HeaderLine{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 10px;
    width: 97%;
    background-color: rgba(11, 23, 38, 1);
}

.Instruction{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    width: 70%;
    padding: 1px 10px;
    background-color: rgba(11, 23, 38, 1);
    color: #D97C2B;
    border-radius: 10px;
    font-size: 16px;
    text-align: justify;
    align-content: center;
}

.Instruction h4{
    font-size: large;
    text-decoration: underline;
}

.Instruction p{
    font-size: 16px;
}

h2, h3 {
    font-family: 'Sniglet', cursive;
    color: rgba(11, 23, 38, 1);
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.Formular{
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 1% 6%;
}

form input{
    width: 100%;
    height: 30px;
    margin: auto;
    font-size: 18px;
}

.inputWords input{
    width: 19%;
}

.PrintSearchWord{
    background-color: white;
    display: block;
    width: 82%;
    margin: auto;
    min-height: 700px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.Puzzle{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
}

.Puzzle h1{
    font-weight: 300;
    font-size: 50px;
}

.EmptyBoxPuzzle{
    min-height: 119px;
}

.Puzzle li{
    justify-content: flex-start;
    list-style: none;
    font-size: 16px;
    margin-bottom: 10px;
    height: fit-content;
}


table{
    border-collapse: collapse;
}

.Puzzle td{
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    
}

.Button{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 18px;
    font-family: 'Sniglet', cursive;
    color: rgba(11, 23, 38, 1);
    background-color:rgba(216, 124, 43, 1);
    border: solid 1px rgba(11, 23, 38, 1);
    border-radius: 5px;
    cursor: pointer;
}

.Button:hover, .Button:focus{
    background-color:rgba(216, 113, 54, 1);
    border: solid 2px rgba(11, 23, 38, 1);
}

.Button:active{
    background-color:rgba(140, 73, 58, 1)
}

/* Color Theme Swatches in Hex */
.Mode-1-hex { color: #0C1726; }
.Mode-2-hex { color: #D97C2B; }
.Mode-3-hex { color: #D97236; }
.Mode-4-hex { color: #8C4A3B; }
.Mode-5-hex { color: #F22222; }

/* Color Theme Swatches in RGBA */
.Mode-1-rgba { color: rgba(11, 23, 38, 1); }
.Mode-2-rgba { color: rgba(216, 124, 43, 1); }
.Mode-3-rgba { color: rgba(216, 113, 54, 1); }
.Mode-4-rgba { color: rgba(140, 73, 58, 1); }
.Mode-5-rgba { color: rgba(242, 33, 33, 1); }

/* Color Theme Swatches in HSLA */
.Mode-1-hsla { color: hsla(213, 52, 9, 1); }
.Mode-2-hsla { color: hsla(28, 69, 51, 1); }
.Mode-3-hsla { color: hsla(22, 68, 53, 1); }
.Mode-4-hsla { color: hsla(11, 40, 39, 1); }
.Mode-5-hsla { color: hsla(0, 89, 54, 1); }
